@page
@model IndexModel
@{
    ViewData["Title"] = "T2 Client";
}

<div class="text-center">
    <h1 class="display-4">Data from server:</h1>
    @foreach (var item in @Model.Data)
    {
        <p>@item</p>
    }
   
</div>
