**/bin/**/*.*
**/obj/**/*.*
**/node_modules
**/v16/
**/.vs
/RazorPageOidcClient.txt
/RazorPageOidcClientT2.txt
/StsLogs.txt
/StsLogsT2.txt
/WebApi.txt
/_logs**
/**.slnLaunch.user
/**.sqlite
