@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <strong>@context?.User?.Identity?.Name idp: @context?.User?.Claims.FirstOrDefault(c => c.Type == "idp")?.Value</strong>
                    <form method="post" action="api/Account/Logout">
                        <AntiForgeryTokenInput />
                        <button class="btn btn-link" type="submit">Signout</button>
                    </form>

                    @*<form method="post" action="api/Account/LogoutT1">
                        <AntiForgeryTokenInput/>
                        <button class="btn btn-link" type="submit">Signout T1</button>
                    </form>
                    <form method="post" action="api/Account/LogoutT2">
                        <AntiForgeryTokenInput/>
                        <button class="btn btn-link" type="submit">Signout T2</button>
                    </form>*@
                </Authorized>
                <NotAuthorized>
                    <a href="api/Account/LoginT1">Login T1</a>

                    <a href="api/Account/LoginT2">Login T2</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
